*{
    margin:0;
    padding:0;
    box-sizing: border-box;
}
html{
    font-family: 'Raleway', sans-serif;
}
div.middle{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    text-align: center;
}
div.middle h1{
    font-size: 3rem;
    text-align: center;
    margin-bottom: 2rem;
}
button{
    font-family: 'Raleway', sans-serif;
    border-style: none;
    font-size: 2rem;
    padding:0.5rem 1rem;
    background-color: rgb(206, 206, 206);
    width: 10rem;
    transition: 0.15s ease-in-out;
}
button:hover{
    width: 12rem;
    transition: 0.15s ease-in-out;
    cursor: pointer;
}